body {
    font-family: 'Vazir', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 0;
}

section {
    padding: 20px;
    margin: 10px 0;
    background: white;
    width: 80%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s;
}

.github-link:hover {
    background-color: #2ecc71;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    font-size: 14px;
}
